%tr{ id: "question_#{question.id}" }
  %td= question.question_text
  %td
    %ul.horizontal-list
      %li
        = link_to "Editer la question", [:edit, question.question_group, question],
          class: "btn"
      %li
        = link_to "Supprimer", [question.question_group, question], method: :delete,
          class: "btn btn-danger"
